<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Worklist</title>

	<script id="sap-ui-bootstrap"
			src="https://ui5.sap.com/<%= UI5Version %>/resources/sap-ui-core.js"
			data-sap-ui-theme="sap_belize"
			data-sap-ui-resourceroots='{
				"sap.ui.demo.worklist": "../"
			}'
			data-sap-ui-oninit="module:<%= name_space_slash %>/test/initMockServer"
			data-sap-ui-compatVersion="edge"
			data-sap-ui-async="true"
			data-sap-ui-frameOptions="trusted">
	</script>
</head>
<body class="sapUiBody">
	<div data-sap-ui-component data-name="<%= name_space %>" data-id="container" data-settings='{"id" : "worklist"}'></div>
</body>
</html>
